@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a;
  /* Dark background */
  color: #fff;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  width: 100%;
}