*{
    margin:0;
    padding: 0;
    font-family: 'Helvetica', Arial, sans-serif;
}
.headw{
    position: fixed;
    top: 1.2rem;
    left: 2rem;
    color:white
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000509;
}
.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  min-height: 45vh;
  width: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease;
  color: #ffffff;
}

.container:hover {
  box-shadow: 0 0 25px 6px rgba(249, 243, 255, 0.8);
}
form{
    margin-top: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height:3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

@media (max-width: 780px) {
    .dropdown{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
    }
    .amm{
        width: 100%;
    }
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display:flex; 
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 18rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    cursor: pointer;  
}
.select-container select{
    font-size: 0.8rem;
    width:fit-content;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button {
  height: 3rem;
  background-color: #00bcd4;
  color: #000000;
  font-size: 1.15rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 188, 212, 0.6);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 600;
}

form button:hover,
form button:focus {
  background-color: #0097a7;
  box-shadow: 0 6px 16px rgba(0, 151, 167, 0.8);
}

.insider{
    width:16rem !important;
}

.arrows{
    padding-top:1.2rem;

}
